# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore database files
instance/
*.db

# Ignore environment files
.env

# Ignore IDE and system files
.vscode/
.idea/
.DS_Store
Thumbs.db
